 
 .home{
 	height: 100vh;
 	width: 100%;
 	background-image: url('home-bg.jpg');
 	background-repeat: no-repeat;
 	background-size: cover;
 	background-attachment: scroll;
 }

 .smltxt{
 	font-size: 0.75rem;
 }

 .pop-up{
 	height: 50%;
 	width: 35%;
 	position: absolute;
 	top: 50%;
 	left: 25%;
 	transform: translate(-50%,-50%); 
 }

 .pop-up-head{
 	font-size: 1.25rem;
 	
 }

 .button{
 	width:7.5rem;
 	height: 2rem;
 	border-radius: 25px;
 	cursor: pointer;
 }

 .greenbtn{
 	background-color: green;
 }

 .redbtn{
 	background-color: #ff3232;
 }

 .head{
 	text-align: center;
 	font-size: 4rem;
 	font-family: "Dancing Script";
 }


 .lo{
 	color: red;
}

 @media(max-width: 500px)
 {
 	.head{
 		font-size: 3rem;
 	}

 	.pop-up{
 		width: 100%;
 		transform: translate(-20%,-50%);
 	}
 }